/* DARK MODE */
.dark-mode {
    background-color: #3a3944;
  }
  
  
  .dark-mode h1, .dark-mode h2, .dark-mode p, .dark-mode th, .dark-mode td, .dark-mode li{
    color: #fff;
  }
  
  
  .dark-mode a li, .dark-mode label {
    color: #ccc;
    text-decoration: none;
  }
  
  .dark-mode .btn {
    background-color: #e3262e;
    color: #fff;
    border: 1px solid #fff;
  }
  .dark-mode textarea{
    background-color: #444;
    color: white;
  }
  .dark-mode input[type="text"],
  .dark-mode input[type="email"],
  .dark-mode input[type="Name"]{
    background-color: #444;
    color: white;
  }
  
  .dark-mode input[type="submit"]{
    background-color: #e3262e;
  }
  .dark-mode input[type="submit"]:hover {
    background-color: #e3262e;
  }
  .dark-mode .product-price{
    color: black;
  }
  .dark-mode nav{
    background-color: #691418;
  }
  .dark-mode footer{
    background-color: #691418;
  }
  .dark-mode .nav-list{
    background: #691418;
  }
  .dark-mode .body-card{
    background-color: #b8b8b8;
    color: black;
  }
  .dark-mode .body-card li, .dark-mode .body-card p{
    color: black;
  }

  .dark-mode .bg-gray{
    background-color: #3a3944;
  }

  /* FIM DARK MODE */