body {
    background-image: url('../img/salesforce.jpg');
    background-size: cover;
    font-family: 'Roboto', sans-serif; 
  }
 /* Define a cor de fundo do corpo para preto */
.dark-mode {
  background-color: #3a3944;
}
.dark-mode .card{
  background-color: rgba(58, 53, 53, 0.7);
}
.dark-mode input{
  background-color: rgba(58, 53, 53, 0.7);
  color: white;
}

/* Define a cor do texto para branco */
.dark-mode h1, .dark-mode h2, .dark-mode p, .dark-mode th, .dark-mode td, .dark-mode li{
  color: #fff;
}

/* Define outras propriedades de estilo para o modo escuro */
.dark-mode a li {
  color: #ccc;
  text-decoration: none;
}

.dark-mode .btn {
  background-color: #444;
  color: #fff;
  border: 1px solid #fff;
}
/* Adicione outras regras de estilo conforme necessário */

/* Estilizando Navbar */
nav {
  background-color: #032d60;
  height: 70px;
  text-align: center;
  position: fixed;
  width: 100%;
  padding: 1px;
  top: 0;
  left: 0;
  font-size: 20;
  overflow: hidden;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
  align-items: center;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #2980b9;
  border-radius: 100px;
  color: white;
}

.logo-navbar {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

/* Fim da estilização da NavBar */

.main {
  margin-top: 1%;
  /* o valor de margin-top deve ser igual ou maior que a altura do menu para evitar que o conteúdo fique por trás do menu */
  padding: 20px;
}
h1{
  color: #032d60;
  text-align: center;
}
.container-nav {
  padding: 0 200px;
}
.right {
  margin-left: auto;
}
/* Fim da estilização da NavBar */
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    color: #032d60;
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  button:hover {
    background-color: #0069d9;
  }
  