* {
  font-family: 'Roboto', sans-serif; 
}

body {
  background-color: #f1f1f16b;
  font-family: 'Roboto', sans-serif; 
}

/* Define a cor de fundo do corpo para preto */
.dark-mode {
  background-color: #3a3944;
}

/* Define a cor do texto para branco */
.dark-mode h1, .dark-mode h2, .dark-mode p, .dark-mode th, .dark-mode td, .dark-mode li{
  color: #fff;
}

/* Define outras propriedades de estilo para o modo escuro */
.dark-mode a li, .dark-mode label {
  color: #ccc;
  text-decoration: none;
}

.dark-mode .btn {
  background-color: #444;
  color: #fff;
  border: 1px solid #fff;
}
.dark-mode textarea{
  background-color: #444;
  color: white;
}
.dark-mode input[type="text"],
.dark-mode input[type="email"]{
  background-color: #444;
  color: white;
}

.dark-mode input[type="submit"]{
  background-color: #3498db;
}
.dark-mode input[type="submit"]:hover {
  background-color: #2980b9;
}
/* Adicione outras regras de estilo conforme necessário */

/* Estilizando Navbar */
nav {
  background-color: #032d60;
  height: 70px;
  text-align: center;
  position: fixed;
  width: 100%;
  padding: 1px;
  top: 0;
  left: 0;
  font-size: 20;
  overflow: hidden;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
  align-items: center;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #2980b9;
  border-radius: 100px;
  color: white;
}


/* Fim da estilização da NavBar */
.main {
  margin-top: 70px;
}

.titulo{
  font-family: Arial, Helvetica, sans-serif;
  color: #032d60;

  padding: 20px;
}

.list{
  font-family: Arial, Helvetica, sans-serif;
  color: #032d60;
  padding: 20px;
}
/* Separando em Colunas */
.container {
  display: flex;
  flex-direction: row;
}

.coluna-esquerda {
  flex-basis: 50%;
  padding: 20px;
}
  
.coluna-direita {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.jumbotron-text {
  font-size: 20px;
  text-align: justify;
  font-weight: 600;
}
main {
  margin-top: 100px;
  /* o valor de margin-top deve ser igual ou maior que a altura do menu para evitar que o conteúdo fique por trás do menu */
  padding: 20px;
}

/* Centralizando video Youtube */
iframe {
  display: block;
  width: 80%; /* ou um valor fixo, como 600px */
  border-radius: 10px;
}
  
/* Imagem Responsiva */
.imageComponent .center-img-horizontally {
  margin-left: auto;
  margin-right: auto;
}

.margin-40-top-lg {
  margin-top: 40px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
  
@media (max-width: 840px){
  .container {
    flex-direction: column;
  }
} 
footer {
  background-color: #032d60;
  height: 70px;
  text-align: center;
  width: 100%;
  margin: 0;
}

.containerFooter {
  max-width: 960px;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-size: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td{
  border: 2px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: center;
}

th {
  border-radius: 10px;
  background-color: #032d60;
  color: white;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #f0f0f0;
}

input[type="submit"] {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #2980b9;
}