* {
  font-family: 'Roboto', sans-serif; 
}

body {
  background-color: #f1f1f16b;
}

/* Estilizando Navbar */
nav {
  background-color: #032d60;
  height: 50px;
  text-align: center;
  border-radius: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #ddd;
  color: black;
}


/* Fim da estilização da NavBar */
.titulo{
  font-family: Arial, Helvetica, sans-serif;
  color: #032d60;

  padding: 20px;
}

.list{
  font-family: Arial, Helvetica, sans-serif;
  color: #032d60;
  padding: 20px;
}
/* Separando em Colunas */
.container {
  display: flex;
  flex-direction: row;
}

.coluna-esquerda {
  flex-basis: 50%;
  padding: 20px;
}
  
.coluna-direita {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.jumbotron-text {
  font-size: 20px;
  text-align: justify;
  font-weight: 600;
}

/* Centralizando video Youtube */
iframe {
  display: block;
  width: 80%; /* ou um valor fixo, como 600px */
  border-radius: 10px;
}
  
/* Imagem Responsiva */
.imageComponent .center-img-horizontally {
  margin-left: auto;
  margin-right: auto;
}

.margin-40-top-lg {
  margin-top: 40px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
  
@media (max-width: 840px){
  .container {
    flex-direction: column;
  }
} 
footer {
  background-color: #032d60;
  padding: 20px;
  text-align: center;
  color: white;
  border-radius: 2px;
}

.containerFooter {
  max-width: 960px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td{
  border: 2px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: center;
}

th {
  border-radius: 10px;
  background-color: #032d60;
  color: white;
}


